.cuisine-btn{
    background-color: #ef4f5f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  margin: 1rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}